.Sidebar {
  overflow: hidden;
  height: 100%;

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  &__name {
    font-size: 24px;
    margin-bottom: 6px;
  }

  &__role {
    color: #838a9e;
  }

  &__item {
    padding: 16px 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      .Sidebar__item-wrapper {
        color: #46d1db;
      }
    }

    &-wrapper {
      color: #838a9e;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      gap: 8px;
    }

    &-active {
      color: #46d1db;
    }
  }
}

.divider {
  border-bottom: 2px solid #ccc;
  padding: 12px 0;
}
