.HomePage {
  display: flex;
  position: relative;
  background-color: #666666;

  // background-image: linear-gradient(62deg, #f045ff3f 0%, #ff7648eb 100%);

  min-height: 100vh;

  &__sidebar {
    margin-left: 10px;
    position: fixed;
    height: 100vh;
    min-width: 200px;
    background-color: white;
  }

  &__outlet {
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 230px;
    margin-bottom: 15px;

    &-content {
      background-color: white;
      padding: 16px;
      border-radius: 10px;
      width: 100%;
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
    }

    &-user {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      color: white;
    }
  }
}
